.min-h-screen{
    min-height:100vh;

}
/* .bg-red{
    background-color:red;
} */
.mx-auto{
    margin-left:10vw;
    margin-right:10vw;
}
.flex{
    display:flex;
}
.justify-center{
    justify-content:center;
}
.items-center{
    align-items:center;
}
.justify-between{
    justify-content:space-between;
}
.font-bold{
    font-weight:bolder;
}
.flex-col{
    flex-direction:column;
}
.my-1{
    margin-top:13px;
    margin-bottom:13px;
}
.px-2{
    padding-left:13px;
    padding-right:13px;
}
/* .my-2{
     
} */
.text-blue{
    color:rgb(246, 148, 50);
}
.btn{
    padding:7px 12px;
    border:2px solid white;
    border-radius:10px;
    color:white;
    cursor:pointer; 
    background-color:rgb(241, 152, 51); 
}
 .overflow-hidden{
     overflow:hidden;
}
.h{
    font-size:1.3rem;
}